# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


# Исходные папки Next.js, которые не нужно коммитить
.next/
out/
dist/

# Node.js зависимости
node_modules/

# Файлы конфигурации и окружения
.env*
!.env.example  # Исключаем, но оставляем пример

# Логи и отладочные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Кэш и временные файлы
.cache/
.vscode/
.idea/
.DS_Store
Thumbs.db

# Папка с результатами билда
build/

# Файлы локальных настроек Git
.git/
.gitignore

# Файлы OS (если работаешь на Mac/Windows)
*.swp
*.swo
*.swn
*.bak
*.tmp

# Игнорирование изображений миниатюр и временных файлов
*.lock
*.pid
